// --------------------- MASSEY SASS CODE START -------------------------
// Variables
$full:100%;
$null:0px;
$green:#00c760;

// Mixins
@mixin background-img{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

@mixin timing{
	transition:1s;
}

// Standard CSS Reset
body, html{
	padding:$null;
	margin:$null;
	font-family: 'Quicksand', sans-serif;
	overflow-x:hidden;
}

*{
	float:left;
	margin:$null;
	padding:$null;
	font-family:"Arial", sans-serif;
}

// All encompassing container
#wrapper{
	position:absolute;
	min-width:100vw;
	min-height:10px;
}

// Nav Styling
#nav{
	position:fixed;
	box-sizing:border-box;
	width:$full;
	min-height:10px;
	background-color:#FFF;
	z-index:1;
	padding:20px;

	#logo-container{
		@include background-img;
		width:75px;
		height:75px;
		border-radius:50px;
		background-image:url("../img/greens-logo.jpg");
	}

	//default button
	a{
		color:$green;
		text-align:center;
	}

	#presentation{
		border-radius:100px;
		background-color:$green;
		margin:$null !important;
		width:50px;
	}

	i{
		font-size:16px;
		margin-bottom:$null;
		color:#FFFFFF;
		text-align:center;
	}

	.btn, .present, i{
		float:right !important;
		cursor:pointer;
		display:block;
		font-size:16px;
		font-weight:300;
		line-height:45px;
		margin-top:20px;
		margin-left:30px;
		max-width:100px;
		position:relative;
		text-decoration:none;
		text-transform:uppercase;
		vertical-align:middle;
		width:100%;
		@include timing;
	}

	.present{
		max-width:50px;
	}

	.btn:hover{
		@include timing;
		letter-spacing:2px;
		border-bottom:1px $green solid;
	}
}

// Creating our Divisions
.section-container{
	width:$full;
	height:100vh;
	position:relative;
}

#home{
	background-color:$green;

	#chart-container{
		position:absolute;
		height:85%;
		width:66.6%;
		margin:15px;
		bottom:$null;
	}

	#chart-info{
		position:absolute;
		float:right;
		right:$null;
		margin:15px;
		width:33.3%;
		height:85%;
		bottom:$null;
		background-color:white;
	}
}

// --------------------- MASSEY SASS CODE END -------------------------

// Kenneth CSS
#about{
	background-color:white;
	width: $full;
	margin: 0 auto;
	margin-top: 50px;
}

// Amy CSS
#contact{
	background-color:blue;
}

//ABOUT STYLING
.james-info {
  float: left;
  width: 40%;
  margin-left:20%;
}

.james-pic {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.james-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $green;
  float:none;
}

.james-media {
  float: left;
  clear: both;
  margin-left: 30px;
}

.media-link {
  width: 20px;
  margin-right: 15px;
  float:none;
}

.instagram {
  margin-right: 32px;
  float:none;
}

.james-text {
  padding: 10px;
  font-size: 16px;
  float:none;
}

.tweets {
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  width: 20%;
}

.tweet-font {
  font-size: 14px;
  float:none;
}

.tweets-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $green;
  float:none;
}

#twitter-feed {
  height: 80vh;
  overflow-y: scroll;
  float:none;
}