@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
body, html {
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif; }

#wrapper {
  max-width: 1024px;
  min-height: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 1px 1px #999; }

.fade-this {
  display: block; }

#nav {
  position: fixed;
  min-height: 10px;
  min-width: 984px;
  background-color: #FFF;
  z-index: 50;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px #999;
  top: 0px; }
  #nav #logo-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50px;
    background-image: url("../img/greens-logo.jpg"); }
  #nav a {
    color: #00c760;
    text-align: center; }
  #nav #presentation {
    border-radius: 100px;
    background-color: #00c760;
    margin: 0px !important;
    width: 50px; }
  #nav i {
    font-size: 16px;
    margin-bottom: 0px;
    color: #FFFFFF;
    text-align: center; }
  #nav .btn, #nav .present, #nav i {
    float: right !important;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    margin-left: 30px;
    max-width: 100px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 1024px;
    transition: 1s; }
  #nav .present {
    max-width: 50px; }
  #nav .btn:hover {
    transition: 1s;
    letter-spacing: 2px;
    border-bottom: 1px #00c760 solid; }

.section-container {
  width: 1024px;
  height: 100vh;
  position: relative;
  top: 90px; }

#hidden-slider {
  position: fixed;
  display: none;
  top: 0px;
  width: 1024px;
  background-color: #0f332c;
  height: 100%;
  z-index: 1; }
  #hidden-slider .fa {
    position: absolute;
    color: white;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

#splash {
  max-height: 300px;
  position: relative;
  background-image: url("../img/green-party-members.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #splash #site-purpose {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50%;
    height: 60%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 10px 20px; }
    #splash #site-purpose h1 {
      font-weight: 700;
      color: #00c760;
      margin-top: 10px; }
    #splash #site-purpose h3 {
      color: white;
      font-weight: 300; }

#spiel {
  box-sizing: border-box;
  height: auto;
  padding: 20px; }
  #spiel h1, #spiel h3, #spiel ul li {
    color: #00c760;
    width: 60%;
    margin: 0px 20%;
    text-align: center; }
  #spiel h3, #spiel ul li {
    font-size: 18px;
    color: black;
    font-weight: 300;
    margin-top: 20px;
    list-style-type: none; }
  #spiel a {
    display: block;
    text-align: center;
    width: 20%;
    margin: 20px 40%;
    cursor: pointer;
    display: block;
    font-weight: 300;
    color: #00c760;
    transition: 1s; }
    #spiel a:hover {
      transition: 1s;
      letter-spacing: 2px; }

#home {
  background-color: #00c760;
  height: 800px; }
  #home h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 300; }
  #home #chart-container {
    position: absolute;
    height: 75%;
    width: 66.6%;
    margin: 15px;
    margin-left: 30px;
    font-weight: 300; }
    #home #chart-container rect {
      cursor: pointer; }
  #home #horizontal-axis {
    position: absolute;
    bottom: 90px;
    width: 70%;
    text-align: center;
    color: white; }
  #home #vertical-axis {
    position: absolute;
    top: 50%;
    transform: rotate(270deg);
    color: white;
    left: -90px; }
  #home #chart-info {
    position: absolute;
    float: right;
    right: 0px;
    margin: 15px;
    width: 28%;
    height: 87%;
    top: 40px; }
    #home #chart-info .info-heading {
      font-size: 18px;
      text-align: center;
      width: 80%;
      margin-left: 10%;
      color: #00c760; }
    #home #chart-info #value-container {
      box-sizing: border-box;
      background: white;
      border-radius: 5px;
      width: 90%;
      margin: 5px 5%;
      height: 25%;
      padding-top: 20px;
      padding-bottom: 20px; }
      #home #chart-info #value-container #graph-values {
        margin-top: 2%;
        width: 100%;
        color: #333;
        font-size: 50px;
        font-weight: 300;
        text-align: center; }
      #home #chart-info #value-container #deg {
        display: none;
        color: #333;
        bottom: 0px;
        width: 100%;
        text-align: center; }
    #home #chart-info #action-container {
      box-sizing: border-box;
      padding: 20px 15px;
      width: 90%;
      margin: 5px 5%;
      height: 74%;
      background-color: white;
      overflow-y: scroll; }
      #home #chart-info #action-container h1 {
        color: #00c760; }
      #home #chart-info #action-container p {
        margin: 5px 0px; }
      #home #chart-info #action-container i {
        color: #00c760; }
      #home #chart-info #action-container .policy-link {
        transition: 1s;
        display: block;
        color: #00c760;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin: 15px auto 0px auto; }
        #home #chart-info #action-container .policy-link:hover {
          transition: 1s;
          letter-spacing: 2px; }

#about {
  background-color: white;
  margin-top: 50px;
  background-color: white;
  margin-bottom: -50px; }

.james-info {
  float: left;
  padding-right: 2%;
  width: 55%;
  margin-left: 10%;
  border-right: 2px solid green; }

.james-pic {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%; }

.james-heading {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #00c760;
  float: none; }

.james-media {
  float: left;
  clear: both;
  margin-left: 30px; }

.media-link {
  width: 20px;
  margin-right: 15px;
  float: none; }

.instagram {
  margin-right: 32px;
  float: none; }

.james-text {
  padding: 10px;
  font-size: 16px;
  float: none; }

.tweets {
  float: left;
  padding-left: 4%;
  padding-right: 2%;
  width: 20%; }

.tweet-font {
  font-size: 14px;
  float: none; }

.tweets-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
  text-align: center;
  color: #00c760;
  float: none; }

#twitter-feed {
  height: 80vh;
  overflow-y: scroll;
  float: none; }

#contact {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  padding: 0px; }

#map {
  width: 55%;
  height: 520px;
  float: left;
  margin-top: 40px; }

.fa {
  color: #00c760; }

#contactInfo {
  width: 35%;
  float: left;
  margin-right: 40px; }

.office {
  height: 250px;
  margin: auto;
  width: 90%;
  font-family: 'Quicksand', sans-serif;
  margin-left: 30px;
  border-left: solid 10px #0ba555;
  margin-top: 20px; }

.heading {
  margin-bottom: 30px;
  position: absolute;
  font-size: 20pt;
  color: #49524B;
  display: block;
  margin-left: -20px;
  margin-top: 400px;
  transform: rotate(270deg);
  transform-origin: left top 0;
  letter-spacing: 3px; }

.title {
  font-family: 'Quicksand', sans-serif;
  color: #00c760;
  letter-spacing: 2px;
  padding-top: 65px;
  margin-left: 25px;
  margin-bottom: 5px; }

.info {
  font-family: 'Quicksand', sans-serif;
  color: #49524B;
  padding-bottom: 20px;
  margin-left: 25px; }

#contactContainer {
  width: 95%;
  display: flex;
  justify-content: center;
  padding: 10px; }

#socialMedia {
  margin-left: 30px;
  margin-top: 0px; }

a {
  color: #15A92D;
  text-decoration: none; }

a:hover {
  color: #49524B; }

.garett {
  width: 382px;
  height: 240px;
  margin-top: -20px; }

.parliment {
  width: 382px;
  height: 240px; }

div.twitter-icon {
  color: #00c760;
  font-size: 35px;
  margin-right: 10px;
  float: left; }

div.facebook-icon {
  color: #00c760;
  font-size: 35px;
  margin-right: 10px;
  float: left; }

div.instagram-icon {
  color: #00c760;
  font-size: 35px; }

#offices .office .title {
  color: #00c760; }

#offices .office-click {
  background-color: #00c760;
  -webkit-transition: background 1s; }

.office {
  background: white;
  -webkit-transition: background 1s; }

#offices .office-click .title {
  color: white; }

#footer-outer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px; }

footer {
  height: 70px;
  min-width: 1024px;
  background-color: #00c760;
  position: relative;
  bottom: 0;
  margin-top: 90px; }

.footer-section {
  padding-top: 25px;
  float: left;
  display: flex;
  justify-content: center; }

.footer-links {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  margin-right: 30px; }

.home-link {
  margin-left: 40px; }

.news {
  margin-right: 0px; }

.logo-section {
  float: right;
  padding-top: 12px;
  margin-right: 30px; }

.backToTop {
  width: 50px;
  margin-top: 12px;
  float: right;
  margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
